
body {
    background-color: #020916;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: inherit;
}

/* ----------------------------------------------------------------------------------------------------------------------------
ERROR, LOADING MESSAGES
---------------------------------------------------------------------------------------------------------------------------- */

.loading-container, .error-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    width: 250px;
    text-align: center;  
    /* background-color: peru; */
}

.error-content p {
    font-size: 18px;
    font-weight: 500;
    margin-top: -10px;
}

.error-icon {
    color: #F54A47;
    scale: 3;
}




/* ----------------------------------------------------------------------------------------------------------------------------
NAVBAR
---------------------------------------------------------------------------------------------------------------------------- */

nav {
    height: 50px;
    width: 100%;
    background-color: ghostwhite;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: black;
    box-sizing: border-box;
}


.container {
    width: 100%;
    height: min-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}



/* ----------------------------------------------------------------------------------------------------------------------------
HOME PAGE
---------------------------------------------------------------------------------------------------------------------------- */

.section-name {
    color: white;
    grid-column: 1 / 2;
    position: absolute;
    top: -100px;

}

.search-box {
    position: absolute;
    top: -150px;
    right: 50px;
}

.relative {
    position: relative;
    width: 250px;
}

.serach-icon {
    width: 23px;
    position: absolute;
    transform: translateY(15%);
    left: 7px;
    top: 2px;
}

.search-box input {
    height: 20px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    text-indent: 30px;
    width: 100%;
    padding: 5px;
    font-family: "Inter", sans-serif;
    color: #bbbbbb


}

.movies-container {

    position: relative;
    left: 15px;
    width: 90%;
    max-width: 1680px;
    height: min-content;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    row-gap: 50px;
    justify-content: center;
    column-gap: 10px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 100px;
    box-sizing: border-box;
    /* background-color: red; */
}


/* ----------------------------------------------------------------------------------------------------------------------------
MOVIE POSTER
---------------------------------------------------------------------------------------------------------------------------- */

.movie-poster {
    position: relative;
    width: 170px;
    height: 250px;
    cursor: pointer;
    transition: all 0.3s ease-out;

}

.movie-poster > img  {
    width: inherit;
    height: inherit;
    object-fit: cover;
    transition: transform 0.5s ;
    border-radius: 8px 8px 0px 0px;
}

.missing-poster-img {
    position: absolute;
    text-align: center;
    width: 100px;
    top: 40%;
    left: 35px;
    color: red;
}

.hover-grey:hover {
    opacity: 0.8;
    scale: 1.1;
    border-radius: 8px;
}

.media-type {
    position: absolute;
    font-size: 11px;
    color: black;
    font-weight: 300;
    background-color: white;
    border: 1px solid grey;
    padding: 1px 2px;
    right: 5px;
    top: 5px;
}


.movie-info {
    position: absolute;
    top: 300px;
    left: -26px;
    width: 202px;
    height: 250px;
    background-color: ghostwhite;
    border-radius: 0px 0px 8px 8px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    padding: 10px;
    z-index: 1;
    text-align: center;
}

.poster-title {
    font-size: 19px;
    font-weight: 800;
    margin-top: 25px;
}

.poster-rating--year {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0;
    font-weight: 700;
    font-size: 13.5px;
}

.poster-description {
    font-size: 13px;
    font-weight: 300;
}

.poster-genre-list {
    position: absolute;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 11px;
    bottom: 15px;
}

.poster-genre {
    color: ghostwhite;
    padding: 2px 5px;
    background-color: black;
    font-weight: 600;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    margin: 0 3px;
    max-width: 60px;
   
}


/* ----------------------------------------------------------------------------------------------------------------------------
MOVIE PAGE
---------------------------------------------------------------------------------------------------------------------------- */

.movie-page--container {
    height: min-content;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 40px; */
    box-sizing: border-box;
}

.movie-page--main {
    width: 100%;
    display: flex;
    justify-content: center; 
    height: min-content;
    position: relative; 
}

.skeleton-loader {
    width: 100%;
    height: 500px;
    background: inherit;
    background-size: 400% 100%;
  }

.movie-page--img {
    width: 95%;
    object-fit: cover;
    mask-image: 
        linear-gradient(to right, transparent 2%, black, transparent 98%),
        linear-gradient(to bottom, transparent 1%, black, transparent 98%);
    mask-composite: intersect;
}


.movie-page--title {
    position: absolute;
    width: fit-content;
    max-width: 40%;
    height: min-content;
    bottom: 30%;
    left: 5%;
    font-size: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie-page--genre {
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
    
}

.movie-page--genre > p {
    margin: 10px;
}

.movie-page--runtime {
    margin-top: 30px;
    font-size: 15px;
    padding-left: 10px;
    font-weight: 700;
}

.movie-page--play-button {
    width: 100px;
    height: 40px;
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
}

.movie-page--play-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: -1; 
    transition: width 0.5s ease-out;
}

.movie-page--play-button:hover::before {
    width: 100%;
}

.movie-page--play-button:hover {
    color: black
}

.movie-page--nav {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 250px;
    font-weight: 500;
    color: grey;

}

.active {
    position: relative;
    color: white;
}

.active::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 10px;
    background-color: white;
    
}

/* ----------------------------------------------------------------------------------------------------------------------------
DETAILS SUB-SECTION
---------------------------------------------------------------------------------------------------------------------------- */

.movie-page--info {
    max-width: 600px;
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.movie-page--overview {
    line-height: 30px;
}

.movie-page--grey {
    color: #bbbbbb;
    font-size: 18px;
}

/* ----------------------------------------------------------------------------------------------------------------------------
REVIEWS SUB-SECTION
---------------------------------------------------------------------------------------------------------------------------- */

.movie-page--reviews {
    max-width: 750px;
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;

}

.movie-page--review {
    color: white;
    position: relative;
    margin-bottom: 80px;
    width: 100%;

}

.movie-page--profile-img {

    background-color: white;
    border-radius: 50%;
    width: 50px;
    padding: 5px;

}

.movie-page--author {
    margin-bottom: 50px;
}

.movie-page--show-btn {
    font-size: 14px;
    color: #bbbbbb;
    cursor: pointer;
}

.movie-page--createdAt  {
    position: absolute;
    top: 15px;
    right: 10px;
}

.movie-page--more-reviews {
    color: #bbbbbb;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----------------------------------------------------------------------------------------------------------------------------
RELATED SUB-SECTION
---------------------------------------------------------------------------------------------------------------------------- */

.movie-page--related {
    width: 80%;
    height: 400px;
    /* background-color: red; */
}

.movie-page--related-loading, .movie-page--error {
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 50px; */
}

.movie-page--carousel {

    margin-top: 80px;

}

.react-multiple-carousel__arrow {
    background-color: #333 !important;
    opacity: 1 !important;
    
}

.react-multiple-carousel__arrow--left {
    left: 20px !important;
    
}


/* ----------------------------------------------------------------------------------------------------------------------------
FOOTER
---------------------------------------------------------------------------------------------------------------------------- */

footer {
    background-color: black;
    /* height: 100px; */
    width: 100%;
    box-sizing: border-box;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 25px;
}

.social-links-container {
    width: 190px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.social-links {
    font-size: 22px;
    color: white;
}

.circle {
    background-color: black;
    padding: 8px 9px;
    border-radius: 50%;
}

.circle:hover {
    background-color: white;
}

.circle:hover .social-links {
    color: black;
}

.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.credits > p {
    font-size: 10px;
    color: grey;
}

.tmdb-logo {
    width: 70px;
}




