@media only screen and (max-width: 700px) {
   .movies-container {
    width: 100%;
    grid-template-columns: repeat(auto-fill, 135px);
    column-gap: 0px;
    left: 5px;

   }
   
   .movie-poster {
    width: 120px;
    height: 175px;
   }

   .movie-info {
    top: 172px;
    left: -51px;
    scale: 0.70;
   }
   .search-box {
      right: 100px;
   }
  }


  @media only screen and (max-width: 375px) {
   .search-box {
      right: 75px;
   }
  }

  @media only screen and (max-width: 350px) {
   .search-box {
      right: 50px;
   }
  }

  @media only screen and (max-width: 350px) {
   .search-box {
      right: 40px;
   }
  }